<!DOCTYPE html>
<html>
  <head>
    <title>SocialKarma</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
      <body>




<div class="col-md-3 Dan">
                <div class="thumbnail">
                  <%=image_tag("danbeer.jpg", class: "img thumbnail", alt: "DAN") %>
                <div class="caption">
                  <h3>Dan</h3>
                  <p>Treat Yo' Self</p>
                  <p class="quote">"Dan brings Korean treats every week!"</p>
                  <p class="quote">10</p>
                </div>
              </div>
            </div>

            <div class="col-md-3 Jay">
                <div class="thumbnail">
                  <%=image_tag("jayAZ.jpg", class: "img thumbnail", alt: "JAY") %>
                <div class="caption">
                  <h3>Jay</h3>
                  <p>Lover not a Fighter </p>
                  <p class="quote">"Jay Borrowed my car and brought it back in great shape!"</p>
                  <p class="quote">10</p>

                </div>
              </div>
            </div>


            <div class="col-md-3 Tyson">
                <div class="thumbnail">
                  <%=image_tag("tyson.jpg", class: "img thumbnail", alt: "TYSON") %>
                <div class="caption">
                  <h3>MIKE TYSON</h3>
                  <p>Fighter not a Lover</p>
                  <p class="quote">"When Jesus comes back, these crazy, greedy, capitalistic men are gonna kill him again."</p></br>
                  <p class="quote">0</p>

                </div>
              </div>
            </div>

    


            <div class="col-md-3 Cage">
                <div class="thumbnail">
                  <%=image_tag("cage.jpg", class: "img thumbnail", alt: "CAGE") %>
                <div class="caption">
                  <h3>NIC CAGE</h3>
                  <p>Not Enough Terrible Movies to Get Him Out of Debt</p>
                  <p class="quote">"Did not pay his rent for 6 months."</p></br>
                  <p class="quote">0</p>

                </div>
              </div>
            </div>

 
            <div class="col-md-3 Bieber">
                <div class="thumbnail">
                  <%=image_tag("jb.jpg", class: "img thumbnail", alt: "JUSTIN") %>
                <div class="caption">
                  <h3>JUSTIN BIEBER</h3>
                  <p></p>
                  <p class="quote">"Borrowed my car and stole it."</p></br>
                  <p class="quote">0</p>

                </div>
              </div>
            </div>









</body>
</html>