<!DOCTYPE html>
<html>
  <head>
    <title>SocialKarma</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
      <body>
        <div class ="container-fluid">
         <div class="row">

  <header>
    <%=link_to "Karma", root_path, class: "navbar-brand" %>
  <nav>
    <%= current_user ? "Hello #{current_user.name}" : link_to('Sign Up', users_new_path, {class: "btn btn-large btn-success"}) %>
	 <% if current_user %>
				<%=button_to "Log Out", {:controller => 'auths', :action => 'destroy'}, {:method => :delete, class: "btn btn-large btn-primary"} %>
    <% else %>
				<%= link_to 'Log In', new_auth_path, {class: "btn btn-lage btn-info"} %>
	 <% end %>
</header>
  
  <%= yield %>
   
</div>

<div class="overlay"></div>

</body>
</html>
